# LG VS 두산 잠실의 주인은 누구인가?  

2015년부터 2021년까지의 데이터분석을 통한 LG트윈스 두산베어스 구단 비교분석  

가설 
LG가 잠실의 주인이다
TRUE 1을 COUNT해 그 수가 과반이 넘을 경우, 가설 채택 
그렇지 않을 경우, 가설 기각 = "두산이 잠실의 주인이다" 채택 

검증 변수 
1.	(LG-두산을 제외한) 잠실(홈)에서의 승률: LG 승률 > 두산의 승률 T / F
    * KBO는 2011년부터 승률 게산 방식에서 무승부를 카운팅하지 않는다. 즉 승률은 
승수 / 전체경기수 - 무승부 경기 수 가 된다.  


2.	(LG VS 두산) 잠실에서의 승률: LG 승률 > 두산의 승률 T / F
3.	잠실에서의 평균관중수: LG 평균관중수 > 두산의 평균 관중수 T / F
4.	잠실에서의 우천경기시 평균관중수 (팬 결집도, 충성도 측정): LG 평균관중수 > 두산의 평균 관중수 T / F
5.	올스타 맴버 수: LG > 두산
6.	(시간이 되면 진행) 구단 관련 부정기사 수: LG < 두산 T / F
7.	(시간이 되면 진행) 구단 관련 긍정기사 수: LG > 두산 T / F

검증 결과 
5 항목 (혹은 7항목)의 True 값을 count 해서 절반 이상의 ex. T: 3, F: 2 결과인 경우 가설을 채택

In [2]:
import numpy as np
import pandas as pd
import time 
import requests 
from bs4 import BeautifulSoup

In [3]:
info = {
    'Referer': 'http://old.statiz.co.kr/team.php?mid=team&team=LG&cteam=LG%2BMBC&sopt=1&opt=0&year=2015',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36'
}

for season in range(2015, 2022):
    url = f'http://old.statiz.co.kr/team.php?mid=team&team=LG&cteam=LG%2BMBC&sopt=1&opt=0&year={season}'
    
#     seed = np.random.randint(100)
#     np.random.seed(seed)
#     a = np.random.randint(5)
#     time.sleep(a)

    resp = requests.get(url)
    html = BeautifulSoup(resp.text, 'html.parser')

# for stat in html.select('table.table_stz'):
#     print(stat.text)

df = pd.read_html(url, header=1)[0]

df

,시즌,날짜,시간,구장,팀 선발,T,결과,상대팀,상대선발,T.1,승리투수,패전투수,세이브,관중,성적
0,정규,04-03,14시,@창원NC파크,켈리,NaN,우천,NC,루친스키,NaN,NaN,NaN,NaN,NaN,0-0-0
1,정규,04-04,14시,@창원NC파크,켈리,NaN,W 2:1,NC,루친스키,NaN,함덕주,임정호,고우석,4375.0,1-0-0
2,정규,04-06,18시30분,@케이티위즈파크,수아레즈,NaN,W 3:2,KT,데스파이네,NaN,수아레즈,데스파이네,고우석,1956.0,2-0-0
3,정규,04-07,18시30분,@케이티위즈파크,정찬헌,R,L 3:7,KT,고영표,RU,유원상,정우영,NaN,1706.0,2-1-0
4,정규,04-08,18시30분,@케이티위즈파크,이상영,NaN,W 7:3,KT,배제성,R,김윤식,배제성,NaN,1605.0,3-1-0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,정규,10-29,18시30분,@부산사직,임찬규,R,W 4:1,롯데,스트레일리,NaN,이정용,스트레일리,고우석,2556.0,72-57-14
175,정규,10-30,17시,@부산사직,켈리,NaN,L 2:4,롯데,박세웅,R,박세웅,켈리,김원중,5855.0,72-58-14
176,정규,11-04,18시30분,잠실,수아레즈,NaN,L 1:5,두산,최원준,R,최원준,수아레즈,NaN,19846.0,72-59-14
177,정규,11-05,18시30분,@잠실,켈리,NaN,W 9:3,두산,곽빈,NaN,켈리,곽빈,NaN,21679.0,73-59-14
178,정규,11-07,14시,잠실,임찬규,R,L 3:10,두산,김민규,NaN,이영하,임찬규,NaN,23800.0,73-60-14

In [49]:
info = {
    'Referer': 'http://old.statiz.co.kr/team.php?mid=team&team=LG&cteam=LG%2BMBC&sopt=1&opt=0&year=2015',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36'
}

# for season in range(2015):
url = 'http://old.statiz.co.kr/team.php?mid=team&team=LG&cteam=LG%2BMBC&sopt=1&opt=0&year=2015'
    
#     seed = np.random.randint(100)
#     np.random.seed(seed)
#     a = np.random.randint(5)
#     time.sleep(a)

resp = requests.get(url)
html = BeautifulSoup(resp.text, 'html.parser')

# for stat in html.select('table.table_stz'):
#     print(stat.text)

df = pd.read_html(url, header=1)[0]

df

,시즌,날짜,시간,구장,팀 선발,T,결과,상대팀,상대선발,T.1,승리투수,패전투수,세이브,관중,성적
0,정규,03-28,14시,@광주,소사,R,L 1:3,KIA,양현종,L,임준섭,소사,윤석민,22000.0,0-1-0
1,정규,03-29,14시,@광주,임지섭,L,L 6:7,KIA,험버,R,최영필,봉중근,NaN,13835.0,0-2-0
2,정규,03-31,18시30분,잠실,루카스,R,L 1:7,롯데,린드블럼,R,린드블럼,루카스,NaN,NaN,0-3-0
3,정규,04-01,18시30분,잠실,임정우,R,W 3:2,롯데,이상화,R,이동현,이정민,NaN,14260.0,1-3-0
4,정규,04-02,18시30분,잠실,NaN,NaN,우천,롯데,NaN,NaN,NaN,NaN,NaN,NaN,1-3-0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,정규,09-30,18시30분,@문학,류제국,R,L 1:8,SK,세든,L,세든,류제국,NaN,7038.0,62-76-2
154,정규,10-01,18시30분,잠실,소사,R,L 2:7,NC,해커,R,해커,소사,임창민,6401.0,62-77-2
155,정규,10-02,18시30분,잠실,루카스,R,L 3:6,한화,안영명,R,안영명,루카스,송은범,16252.0,62-78-2
156,정규,10-03,14시,잠실,우규민,RU,W 5:2,롯데,이명우,L,우규민,이명우,임정우,19458.0,63-78-2
157,정규,10-06,18시30분,@광주,소사,R,W 4:2,KIA,임준혁,R,소사,한승혁,임정우,6520.0,64-78-2

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시즌      158 non-null    object
 1   날짜      158 non-null    object
 2   시간      158 non-null    object
 3   구장      158 non-null    object
 4   팀 선발    145 non-null    object
 5   T       145 non-null    object
 6   결과      158 non-null    object
 7   상대팀     158 non-null    object
 8   상대선발    145 non-null    object
 9   T.1     145 non-null    object
 10  승리투수    142 non-null    object
 11  패전투수    142 non-null    object
 12  세이브     54 non-null     object
 13  관중      140 non-null    float64
 14  성적      158 non-null    object
dtypes: float64(1), object(14)
memory usage: 18.6+ KB

In [44]:
#LG 2015년 시즌 승률 (홈+어웨이)
# L_win_2015 = sum(df['결과'].str.contains('W.'))
# L_lose_2015 = sum(df['결과'].str.contains('L.'))

# L_winpercentage_2015 = (L_win_2015 / (L_win_2015 + L_lose_2015))
# L_winpercentage_2015

0.4507042253521127

In [51]:
#LG 2015년 홈 경기 결과 
df[df['구장']=='잠실']

,시즌,날짜,시간,구장,팀 선발,T,결과,상대팀,상대선발,T.1,승리투수,패전투수,세이브,관중,성적
2,정규,03-31,18시30분,잠실,루카스,R,L 1:7,롯데,린드블럼,R,린드블럼,루카스,NaN,NaN,0-3-0
3,정규,04-01,18시30분,잠실,임정우,R,W 3:2,롯데,이상화,R,이동현,이정민,NaN,14260.0,1-3-0
4,정규,04-02,18시30분,잠실,NaN,NaN,우천,롯데,NaN,NaN,NaN,NaN,NaN,NaN,1-3-0
5,정규,04-03,18시30분,잠실,소사,R,L 3:7,삼성,클로이드,R,안지만,정찬헌,NaN,12636.0,1-4-0
6,정규,04-04,17시,잠실,임지섭,L,W 3:2,삼성,피가로,R,임지섭,피가로,봉중근,20404.0,2-4-0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,정규,09-21,18시30분,잠실,류제국,R,L 1:4,kt,옥스프링,R,옥스프링,진해수,조무근,6560.0,58-75-2
152,정규,09-28,14시,잠실,우규민,RU,W 8:4,KIA,김광수,R,우규민,김광수,NaN,23365.0,62-75-2
154,정규,10-01,18시30분,잠실,소사,R,L 2:7,NC,해커,R,해커,소사,임창민,6401.0,62-77-2
155,정규,10-02,18시30분,잠실,루카스,R,L 3:6,한화,안영명,R,안영명,루카스,송은범,16252.0,62-78-2
156,정규,10-03,14시,잠실,우규민,RU,W 5:2,롯데,이명우,L,우규민,이명우,임정우,19458.0,63-78-2

In [30]:
L_nm_2015 = df['관중'].mean()
# round(L_nm_2015)
L_nm_2015

12541.85

In [62]:
#홈 승률
df[(df['구장']=='잠실') & (df['결과'].str.contains('W.'))]
len(df[(df['구장']=='잠실') & (df['결과'].str.contains('W.'))])

df[(df['구장']=='잠실') & (df['결과'].str.contains('L.'))]
len(df[(df['구장']=='잠실') & (df['결과'].str.contains('L.'))])

33